.n1 {
    margin-right: 5px !important;
}
.text-presentation h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}
h3{
    color: rgb(90, 148, 151);
}
.reset-password{
    margin-top: 30vh;
    padding: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    width: fit-content;
}
.reset-password input{
    color: white;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
    opacity: 0.7;
}
.logo .container{
    width: 55%;
}
.reset-password h2{
    font-size: 2.4rem;
}
.logo #formBasicEmail{
    padding: 12px;
    height: 1rem;
    border-radius: 5px;
}
.logo img {
    position : fixed; 
    left : 10px; top : 10px;
}
html {
    background-color: darkcyan;
}
.container-login{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    background-color: white;
}
.logo label{
    color:rgb(255, 255, 255);
}
.container-presentation{
    background-color: darkcyan;
    width: 70%;
}
.text-presentation{
    text-align: center;
    padding: 3rem;
    margin-top: 25vh;
    color: azure;
}
.container{
    margin-top: 17vh;
}
.container-movies{
    margin-top: -12vh;
}
img {
    width: 120px;
    height: 100px;
    float: left;
    padding: 1rem;
}

@media only screen and (max-width: 768px) {
    .btn, .btn-large, .btn-small {
        letter-spacing: 0;
        margin-top: 5px;
    }
    .text-presentation {
        padding: 2rem;
        margin-top: 20vh;
    }
}
@media only screen and (max-width: 500px) {
    .container-login{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .text-presentation {
        padding: 1rem;
        margin-top: 0;
        
    }
    .container-presentation {
        width: 100%;
    }
    .container {
        width: 100%;
        margin-top: 0;
        padding: 1rem;
        background-color: darkcyan;
    }
    h1 {
        font-size: 2rem;
    }
    h3{
        font-size: 2rem;
        color: rgb(190, 224, 226);
    }
    img {
        width: 50px;
        height: 40px;
        padding: 5px;
    }
    .text-presentation h2 {
        font-size: 2rem;
        margin-right: 1em;
    }
    .reset-password{
        margin-top: 15vh;
    }
    #formBasicEmail{
        border-radius: 2px;
        padding: 4px;
        height: 2rem;
    }
    .reset-password h2{
        font-size: 2rem;
        color: rgb(190, 224, 226);
    }
    .container-movies{
        margin-top: -2vh;
    }
    .container form input{
        color: white;
    }
}